<div>
    <div> <h2> Agregar review-comment</h2></div>
</div>

<form [formGroup]="addEditForm">

    <mat-form-field>
        <mat-label>Id</mat-label>
        <input matInput formControlName="commentId" readonly="true">
    </mat-form-field>

    <br><br>

    <mat-form-field>
        <mat-label>Text</mat-label>
        <input matInput formControlName="text" placeholder=" Ingrese Text">
        <div *ngIf="addEditForm.get('text')?.hasError('required')&& addEditForm.get('text')?.touched">
          <span style="color: red;">Este campo es obligatorio</span>
        </div>
        <div *ngIf="addEditForm.get('text')?.hasError('minlength') && addEditForm.get('text')?.touched">
            <span style="color: red">Debe tener mas de 1 caracter</span>
        </div>
    </mat-form-field>

    <br><br>

    <mat-form-field>
        <mat-label>Tag</mat-label>
        <input matInput formControlName="tag" placeholder=" Ingrese Tag">
        <div *ngIf="addEditForm.get('tag')?.hasError('required')&& addEditForm.get('tag')?.touched">
          <span style="color: red;">Este campo es obligatorio</span>
        </div>
        <div *ngIf="addEditForm.get('tag')?.hasError('minlength') && addEditForm.get('tag')?.touched">
            <span style="color: red">Debe tener mas de 1 caracter</span>
        </div>

    </mat-form-field>

    <br><br>

    <mat-form-field>
        <mat-label>Comment Date</mat-label>
        <input matInput formControlName="commentDate" placeholder=" Ingrese Comment Date">
        <div *ngIf="addEditForm.get('commentDate')?.hasError('required')&& addEditForm.get('commentDate')?.touched">
          <span style="color: red;">Este campo es obligatorio</span>
        </div>
        <div *ngIf="addEditForm.get('commentDate')?.hasError('minlength') && addEditForm.get('commentDate')?.touched">
            <span style="color: red">Debe tener mas de 1 caracter</span>
        </div>
    
    </mat-form-field>

    <br><br>

    <mat-form-field>
        <mat-label>Review Id</mat-label>
        <input matInput formControlName="reviewId" placeholder=" Ingrese Review Id">
        <div *ngIf="addEditForm.get('reviewId')?.hasError('required')&& addEditForm.get('reviewId')?.touched">
          <span style="color: red;">Este campo es obligatorio</span>
        </div>
        <div *ngIf="addEditForm.get('reviewId')?.hasError('minlength') && addEditForm.get('reviewId')?.touched">
            <span style="color: red">Debe tener mas de 1 caracter</span>
        </div>

    </mat-form-field>

    <br><br>

    <mat-form-field>
        <mat-label>User App Id</mat-label>
        <input matInput formControlName="userappId" placeholder=" Ingrese User App Id">
        <div *ngIf="addEditForm.get('userappId')?.hasError('required')&& addEditForm.get('userappId')?.touched">
          <span style="color: red;">Este campo es obligatorio</span>
        </div>
        <div *ngIf="addEditForm.get('userappId')?.hasError('minlength') && addEditForm.get('userappId')?.touched">
            <span style="color: red">Debe tener mas de 1 caracter</span>
        </div>

    </mat-form-field>

    <br><br>

    <div class="button">
        <button mat-raised-button color="primary" (click)="saveReviewComent()">Guardar</button>

        <button mat-raised-button color="warn" (click)="cancel()">Cancelar</button>

    </div>

</form>



