
<!-- Tu componente HTML -->
<mat-toolbar color="primary" class="professor-toolbar">
    <button mat-icon-button [matMenuTriggerFor]="menuCine">
        <mat-icon>menu</mat-icon>
    </button>
  
    <!-- Botón para la vista del Profesor -->
    <button mat-button routerLink="/professor">
        <mat-icon>book</mat-icon>
        Professor
    </button>
  
    <button mat-button routerLink="/home">
        <mat-icon>home</mat-icon>
        Home
    </button>
  </mat-toolbar>
  
  <mat-menu #menuCine="matMenu">
    <button mat-menu-item routerLink="/login">
        <mat-icon>person</mat-icon>
        Login
    </button>
  
    <button mat-menu-item routerLink="/moderation-action">
        <mat-icon>build</mat-icon>
        Moderation Action
    </button>
  
    <button mat-menu-item routerLink="/review">
        <mat-icon>rate_review</mat-icon>
        Review
    </button>
  
    <button mat-menu-item routerLink="/review-comment">
        <mat-icon>comment</mat-icon>
        Review Comment
    </button>
  
    <button mat-menu-item routerLink="/role">
        <mat-icon>security</mat-icon>
        Role
    </button>
  
    <button mat-menu-item routerLink="/professor">
        <mat-icon>school</mat-icon>
        Profesor
    </button>
  
    <button mat-menu-item routerLink="/university">
        <mat-icon>account_balance</mat-icon>
        University
    </button>
  </mat-menu>
  
  <!-- Contenedor principal para la revisión del profesor -->
<div class="review-professor-container">
    <h1 class="review-professor-title">Review Professor</h1>
    
    <!-- Tarjeta de información del profesor -->
    <mat-card class="professor-card" *ngIf="professorReview">
        <img mat-card-image src="https://cdn.icon-icons.com/icons2/35/PNG/512/teacher_man_avatar_person_2836.png" alt="Professor" class="professor-image">
        <mat-card-content>
            <h2>{{ professorReview.userFirstname }}, {{ professorReview.userLastname }}</h2>
            <p>{{ professorReview.userId?'Student':'Professor' }}</p>
            <p>Faculty: {{ professorReview.faculty }}</p>
            <p>Fecha Ingreso: {{ professorReview.joinDate | date:'dd/MM/yyyy' }}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button (click)="navigateReviewProfessor(-1)" color="primary"><<</button>
            <button mat-flat-button (click)="navigateReviewProfessor(1)" color="primary">>></button>
            <button mat-raised-button (click)="openDialog()" class="add-comment-button">Agregar Comment</button>
        </mat-card-actions>
    </mat-card>
  
    <!-- Contenedor para las reseñas del profesor -->
    <div class="reviews-container">
        <mat-card class="review-card" *ngFor="let review of filteredReviewProfessor">
            <mat-card-header>
                <mat-card-title>Review - {{ review.reviewId }}</mat-card-title>
                <mat-card-subtitle>Fecha {{ review.reviewDate | date:'dd/MM/yyyy HH:mm' }}</mat-card-subtitle>  
            </mat-card-header>
            <mat-card-content>
                <p>{{ review.comment }}</p>
            </mat-card-content>
        </mat-card>
    </div>
  
    <!-- Contenedor para los comentarios de las reseñas -->
    <div class="comments-container">
        <mat-card class="comment-card" *ngFor="let comment of filteredReviewCommentProfessor">
            <mat-card-header>
                <mat-card-title>ReviewComment - {{ comment.commentId }}</mat-card-title>
                <mat-card-subtitle>Fecha {{ comment.commentDate | date:'dd/MM/yyyy HH:mm' }}</mat-card-subtitle>  
            </mat-card-header>
            <mat-card-content>
                <p>{{ comment.text }}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>