<div class="custom-insert-container">
    <h2>{{ modoInsertar ? 'Add New Course' : 'Update Course' }}</h2>

    <form [formGroup]="customCourseForm" (ngSubmit)="addCustomCourse()">
        <!-- Agregado el campo courseId solo cuando no estás insertando un nuevo curso -->
        <mat-form-field *ngIf="!modoInsertar">
            <mat-label>Id</mat-label>
            <input matInput formControlName="courseId" readonly="true">
        </mat-form-field>

        <mat-form-field class="custom-form-field">
            <mat-label>Course Name</mat-label>
            <input matInput formControlName="courseName" placeholder="Enter course name" />
        </mat-form-field>

        <mat-form-field class="custom-form-field">
            <mat-label>Course Code</mat-label>
            <input matInput formControlName="courseCode" placeholder="Enter course code" />
        </mat-form-field>

        <mat-form-field class="custom-form-field">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" placeholder="Enter description"></textarea>
        </mat-form-field>

        <mat-form-field class="custom-form-field">
            <mat-label>University</mat-label>
            <mat-select formControlName="universityId" placeholder="Select university">
                <mat-option *ngFor="let university of universities" [value]="university.universityId">
                    {{ university.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div class="custom-button-container">
            <button mat-raised-button color="primary" type="submit" [disabled]="customCourseForm.invalid">
                {{ modoInsertar ? 'Add Custom Course' : 'Update Custom Course' }}
            </button>
            <button mat-raised-button color="accent" routerLink="/course" class="custom-back-button">
                Back to Courses
            </button>
        </div>
    </form>
</div>
