<mat-toolbar color="primary" class="professor-toolbar">
    <button mat-icon-button [matMenuTriggerFor]="menuCine">
        <mat-icon>menu</mat-icon>
    </button>

    <!-- Botón para la vista del Profesor -->
    <button mat-button routerLink="/course">
        <mat-icon>book</mat-icon>
        Course
    </button>

    <button mat-button routerLink="/home">
        <mat-icon>home</mat-icon>
        Home
    </button>
</mat-toolbar>

<mat-menu #menuCine="matMenu">
    <button mat-menu-item routerLink="/login">
        <mat-icon>person</mat-icon>
        Login
    </button>

    <button mat-menu-item routerLink="/moderation-action">
        <mat-icon>build</mat-icon>
        Moderation Action
    </button>

    <button mat-menu-item routerLink="/review">
        <mat-icon>rate_review</mat-icon>
        Review
    </button>

    <button mat-menu-item routerLink="/review-comment">
        <mat-icon>comment</mat-icon>
        Review Comment
    </button>

    <button mat-menu-item routerLink="/role">
        <mat-icon>security</mat-icon>
        Role
    </button>

    <button mat-menu-item routerLink="/professor">
        <mat-icon>school</mat-icon>
        Profesor
    </button>

    <button mat-menu-item routerLink="/university">
        <mat-icon>account_balance</mat-icon>
        University
    </button>
</mat-menu>
<app-insert-course></app-insert-course>