<!-- Tu componente HTML -->
<mat-toolbar color="primary" class="professor-toolbar">
    <button mat-icon-button [matMenuTriggerFor]="menuCine">
        <mat-icon>menu</mat-icon>
    </button>

    <!-- Botón para la vista de Review Comment -->
    <button mat-button routerLink="/reviewcomment">
        <mat-icon>comment</mat-icon>
        Review Comment
    </button>

    <span class="espacio_extendido"></span>
    <div *ngIf="userLogged()">
        <button routerLink="/home" (click)="logout()" mat-raised-button color="accent">Home</button> |
        <button mat-raised-button (click)="logout()" routerLink="/login" color="warn">LogOut</button>
    </div>

    <button mat-button routerLink="/new">
        <mat-icon>add</mat-icon> Crear
    </button>
</mat-toolbar>

<mat-menu #menuCine="matMenu">
    <button mat-menu-item routerLink="/login">
        <mat-icon>person</mat-icon>
        Login
    </button>

    <!-- Botón para la vista de Moderation Action -->
    <button mat-menu-item routerLink="/moderation-action">
        <mat-icon>build</mat-icon>
        Moderation Action
    </button>

    <!-- Botón para la vista de Review -->
    <button mat-menu-item routerLink="/review">
        <mat-icon>rate_review</mat-icon>
        Review
    </button>

    <button mat-menu-item routerLink="/course">
        <mat-icon>book</mat-icon>
        Course
    </button>

    <button mat-menu-item routerLink="/professor">
        <mat-icon>school</mat-icon>
        Professor
    </button>

    <button mat-menu-item routerLink="/university">
        <mat-icon>account_balance</mat-icon>
        University
    </button>

    <!-- Botón para la vista de Role -->
    <button mat-menu-item routerLink="/role">
        <mat-icon>security</mat-icon>
        Role
    </button>
</mat-menu>
<br><br>

<!-- Búsqueda -->
<div class="search-bar">

    <mat-form-field appearance="outline">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Escribe para filtrar">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  
  <!-- Lista de review coments -->
  <div class="reviewcomment-list">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!-- Columna de ID -->
      <ng-container matColumnDef="commentId">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let reviewcomment">{{reviewcomment.commentId}}</mat-cell>
      </ng-container>

        <!-- Columna de text -->

        <ng-container matColumnDef="text">
            <mat-header-cell *matHeaderCellDef> Text </mat-header-cell>
            <mat-cell *matCellDef="let reviewcomment">{{reviewcomment.text}}</mat-cell>
        </ng-container>

        <!-- Columna de tag -->

        <ng-container matColumnDef="tag">
            <mat-header-cell *matHeaderCellDef> Tag </mat-header-cell>
            <mat-cell *matCellDef="let reviewcomment">{{reviewcomment.tag}}</mat-cell>
        </ng-container>

        <!-- Columna de commentDate -->

        <ng-container matColumnDef="commentDate">
            <mat-header-cell *matHeaderCellDef> Comment Date </mat-header-cell>
            <mat-cell *matCellDef="let reviewcomment">{{reviewcomment.commentDate}}</mat-cell>
        </ng-container>

        <!-- Columna de reviewId -->

        <ng-container matColumnDef="reviewId">
            <mat-header-cell *matHeaderCellDef> Review Id </mat-header-cell>
            <mat-cell *matCellDef="let reviewcomment">{{reviewcomment.reviewId}}</mat-cell>
        </ng-container>

        <!-- Columna de userappId -->

        <ng-container matColumnDef="userappId">
            <mat-header-cell *matHeaderCellDef> User App Id </mat-header-cell>
            <mat-cell *matCellDef="let reviewcomment">{{reviewcomment.userappId}}</mat-cell>
        </ng-container>
  
      <!-- Columna de Acciones -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let item">
          <a style="cursor:pointer;" routerLink= "/edit/{{item.commentId}}">
            <mat-icon>edit</mat-icon>
          </a>
          <a style="cursor: pointer;" (click)="deleteReviewComment(item.commentId)">
            <mat-icon>delete</mat-icon>
          </a>
        </mat-cell>
      </ng-container>
  
      <!-- Cabecera y filas de la tabla -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

  </div>
  
  <!-- Paginación -->
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  <router-outlet></router-outlet>

