<div>
    <div> <h2> Agregar Universidad</h2></div>
</div>

<form [formGroup]="addEditForm">

    <mat-form-field>
        <mat-label>Id</mat-label>
        <input matInput formControlName="universityId" readonly="true">
    </mat-form-field>

    <br><br>

    <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" placeholder=" Ingrese Nombre">
        <div *ngIf="addEditForm.get('name')?.hasError('required')&& addEditForm.get('name')?.touched">
          <span style="color: red;">Este campo es obligatorio</span>
        </div>
        <div *ngIf="addEditForm.get('name')?.hasError('minlength') && addEditForm.get('name')?.touched">
            <span style="color: red">Debe tener mas de 1 caracter</span>
        </div>
    </mat-form-field>

    <br><br>

    <mat-form-field>
        <mat-label>Capmpus</mat-label>
        <input matInput formControlName="campus" placeholder=" Ingrese el campus">
        <div *ngIf="addEditForm.get('address')?.hasError('required')&& addEditForm.get('address')?.touched">
          <span style="color: red;">Este campo es obligatorio</span>
        </div>
        <div *ngIf="addEditForm.get('address')?.hasError('minlength') && addEditForm.get('address')?.touched">
            <span style="color: red">Debe tener mas de 1 caracter</span>
        </div>

    </mat-form-field>

    <br><br>

    <mat-form-field>
        <mat-label>Direccion</mat-label>
        <input matInput formControlName="location" placeholder=" Ingrese Direccion">
        <div *ngIf="addEditForm.get('address')?.hasError('required')&& addEditForm.get('address')?.touched">
          <span style="color: red;">Este campo es obligatorio</span>
        </div>
        <div *ngIf="addEditForm.get('address')?.hasError('minlength') && addEditForm.get('address')?.touched">
            <span style="color: red">Debe tener mas de 1 caracter</span>
        </div>

    </mat-form-field>

    <br><br>

    <mat-form-field>
        <mat-label>Descripcion</mat-label>
        <input matInput formControlName="description" placeholder=" Ingrese Descripcion">
        <div *ngIf="addEditForm.get('description')?.hasError('required')&& addEditForm.get('description')?.touched">
          <span style="color: red;">Este campo es obligatorio</span>
        </div>
        <div *ngIf="addEditForm.get('description')?.hasError('minlength') && addEditForm.get('description')?.touched">
            <span style="color: red">Debe tener mas de 1 caracter</span>
        </div>
    </mat-form-field>

    <br><br>

    <button mat-raised-button color="primary" (click)="saveUniversity()" [disabled]="addEditForm.invalid">Guardar</button>

    <button mat-raised-button color="warn" (click)="cancel()">Cancelar</button>


</form>




















